body{
 background-image: url(calm.avif);
 background-repeat: no-repeat;
 background-size: cover;
}
h1 {
  font-family: "gimlet-display", serif;
  font-weight: 400;
  font-style: normal;
  margin: 30px;
}
p {
  font-family: "gimlet-display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}
#result{
  font-family: "gimlet-display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color:black;
  text-align: center;
}
div.btn{
background-image: linear-gradient(180deg, rgb(228, 164, 194), rgb(247, 75, 232));
box-shadow: 10px 6px rgb(236, 179, 232);
border-color: white;
font-family: "gimlet-display", serif;
font-weight: 400;
font-style: normal;
font-size: 30px;
}