body{
    background-color: rgb(139, 204, 241);
}
h1{
    font-family: "gimlet-display", serif;
    font-weight: 400;
    font-style: normal;
margin:30px;
}
p{
    font-family: "gimlet-display", serif;
font-weight: 400;
font-style: normal;
font-size:20px;
}